.nav.navbar-top > li > a {
  padding: 15px 35px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.nav.navbar-top > li > a:hover {
  color: #fff;
}
.nav.nav-profile > li > a:hover {
  background: none;
}
.m_active {
  background: #2068d3;
}
.tab-list {
  cursor: pointer;
}
.tab-list.tab_on {
  color: #fff;
  background: #188ae2;
}

.info.row2txt {
  padding: 0;
}
.info.row2txt > div {
  height: 25px;
  line-height: 25px;
}
.info.row2txt > div + div {
  border-top: 1px solid #7f7f7f;
}
.cell_wrap {
  display: table;
  width: 100%;
  height: 100%;
}
.cell {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  text-align: center;
}
.cell + .cell {
  border-left: 1px solid #7f7f7f;
}
.td_notPd {
  padding: 0 !important;
}
.cell_div {
  height: 50%;
}
.cell_div + .cell_div {
  border-top: 1px solid #7f7f7f;
}
.cell_check {
  padding: 0 10px;
}
.chk_docs_wrap input[type="file"] + label {
  display: inline-block;
  width: 100%;
  height: 40px;
  text-align: left;
  padding: 0 20px;
  line-height: 40px;
  background: #ddd;
  cursor: pointer;
}
.chk_docs_wrap input[type="file"] {
  display: none;
}

#sidebar-menu ul ul a.depth_on {
  color: #337ab7;
}

.check_wrap {
  display: inline-block;
}
.check_wrap + .check_wrap {
  margin-left: 20px;
}

.monitor_box {
  display: table;
}

.width100 {
  width: 100%;
}

.profile {
  position: absolute;
  right: 15px;
  top: 8px;
  cursor: pointer;
  float: right;
  z-index: 99;
}
.profile_img {
  width: 40px;
}
.nav.nav-profile {
  display: none;
  position: absolute;
  right: -5px;
  top: 60px;
  width: 150px;
  background: #1b2638;
}
.nav.nav-profile:before {
  content: "";
  position: absolute;
  right: 18px;
  top: -7px;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-right: 15px solid #1b2638;
  transform: rotate(-135deg);
}
.nav.nav-profile > li {
  float: none;
  text-align: right;
}
.nav.nav-profile > li:hover {
  background: #2068d3;
}

.depth_menu {
  display: none;
  padding: 0;
  width: 100%;
}
.depth_menu > li {
  width: 100%;
  list-style: none;
}
.depth_menu > li > a {
  display: block;
  height: 100%;
  line-height: 40px;
  padding: 0 10px;
  background: #444;
  color: #fff;
}
.depth_menu > li > a:hover {
  background: #888;
}
/* 게시판 길이 최대치 */
#delivery-list {
  width: 2000px;
  max-width: 2000px;
}
.content-header h1 {
  margin-top: 0;
}
.noWrap {
  overflow: hidden;
  margin: 0 auto;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
}
/* 테이블 스크롤 고정 */
th.col_fixed,
td.col_fixed {
  position: relative;
  z-index: 1;
  left: 0;
}
/* 업무 요일버튼 on */
.weekWrap button.weekday {
  padding: 5px 41px !important;
}
table p.tindent {
  /*text-indent: -13px;*/
  padding-left: 13px;
  font-size: 16px;
}

/* 재고관련 레이아웃 */
.amount_list {
  padding: 0;
}
.amount_list li {
  display: inline-block;
  padding: 20px 30px;
  width: calc(25% - 10px);
  height: 300px;
  list-style: none;
  color: #fff;
  background: #188ae2;
  background-image: linear-gradient(#46a4ec, #188ae2);
  border-radius: 10px;
}
.amount_list li + li {
  margin-left: 5px;
}
.prd_txt_wrap {
  display: table;
  width: 100%;
}
.prd_txt_wrap + .prd_txt_wrap {
  border-top: 1px dashed #444;
}
.prd_cell {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
.prd_cell:last-child {
  text-align: right;
}

.amount_content dt {
  font-size: 20px;
  overflow: hidden;
  font-weight: bold;
  color: #fff;
}
.amount_content h3 {
  float: left;
  color: #fff;
  font-weight: bold;
}
.amount {
  float: right;
  font-size: 32px;
  height: 50px;
  line-height: 50px;
}
.amount:before {
  content: "재고량";
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #fff;
}
.amount_line {
  margin-bottom: 10px;
  width: 100%;
  height: 2px;
  background: #fff;
}
.amount_content dd {
  padding: 5px 0;
  overflow: hidden;
  font-size: 16px;
}
.amount_content dd + dd {
  border-top: 1px dashed #fff;
}
dd.text-indent {
  text-indent: 20px;
}
.amount_txt {
  float: right;
}

/* 생산지시 레이아웃 */
.text_point {
  display: inline-block;
  width: 100%;
  height: 38px;
  background: #188ae2;
  color: #444;
  line-height: 38px;
  border-radius: 4px;
}

/* 테이블 포인터 */
.cursor {
  cursor: pointer;
}

/* 모니터링 리스트 */
.monitor_list {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.normal_box {
  background: #188ae2;
  background-image: linear-gradient(#46a4ec, #188ae2);
}
.monitor_list li {
  float: left;
  width: calc(50% - 10px);
  height: 150px;
  padding: 30px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.monitor_list li + li {
  margin-left: 20px;
  margin-top: 20px;
}
.monitor_list li:nth-child(odd) {
  margin-left: 0;
}
.monitor_list li:nth-child(1),
.monitor_list li:nth-child(2) {
  margin-top: 0;
}
.temp_wrap {
  overflow: hidden;
}
.temp_tit {
  float: left;
  font-size: 30px;
}
.temp_txt {
  float: right;
  font-size: 40px;
}
.temp_time {
  margin-top: 15px;
  font-size: 14px;
  text-align: right;
}
/* 모니터 그래프 상자 */
.monitor_view {
  width: 100%;
  height: 150px;
  padding: 30px;
  color: #fff;
  border-radius: 10px;
}
/* 모니터링 이탈 */
.danger_box {
  background: #ec4d4d;
  background-image: linear-gradient(#ec7f7f, #ec4d4d);
}
.warning_wrap {
  width: 50%;
}
.warning_box {
  display: table;
  padding: 30px;
  width: 100%;
  height: 100px;
  color: #fff;
}
.warning_title,
.warning_temp {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
.warning_title {
  margin: 0;
  text-align: left;
  font-size: 30px;
}
.warning_temp {
  text-align: right;
  font-size: 40px;
}
.warning_cont {
  margin-top: 20px;
  padding: 30px;
  border: 1px solid #707070;
  border-top: 4px solid #ec4d4d;
  box-shadow: 2px 2px 4px #ccc;
}
.warning_txt {
  padding-left: 0;
}
.warning_txt li {
  padding: 20px;
  list-style: none;
  color: #333;
  font-size: 16px;
}
.warning_txt li + li {
  border-top: 1px dashed #444;
}
.warning_textarea {
  padding: 30px;
  margin-top: 10px;
  min-height: 200px;
  border: 1px solid #444;
  border-top: 4px solid #ec4d4d;
}

::-webkit-scrollbar {
  height: 15px;
}
::-webkit-scrollbar-track {
  background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  background-color: #797979;
}
::-webkit-scrollbar-button:horizontal:increment {
  background: #ddd url(../images/icon_right.png) no-repeat center 50%;
  background-size: cover;
}
::-webkit-scrollbar-button:horizontal:decrement {
  background: #ddd url(../images/icon_left.png) no-repeat center 50%;
  background-size: cover;
}
@media (max-width: 1542px) {
  .profile_img {
    display: block;
  }
}
@media (max-width: 1470px) {
  .nav.navbar-top > li > a {
    padding: 15px 2.38vw;
    font-size: 14px;
  }
}
@media (max-width: 1252px) {
  .nav.navbar-top > li > a {
    padding: 15px 1.8vw;
  }
}
@media (max-width: 1120px) {
  .topbar-left {
    width: 100% !important;
    text-align: center;
  }
  .left.side-menu {
    display: none;
  }
  .content-page {
    margin-left: 0;
    margin-top: 60px;
  }
  .navbar-default {
    float: none !important;
  }
  .navbar-nav.nav_main > li:hover > .depth_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 55px;
  }
}
@media (max-width: 900px) {
  .nav.navbar-top > li > a {
    padding: 15px 1.3vw;
    font-size: 13px;
  }
}
@media (max-width: 770px) {
  .nav.navbar-top > li > a {
    padding: 15px 5px;
    font-size: 12px;
  }
}
@media (max-width: 786px) {
  .profile {
    top: 25px;
  }
}
